<?xml version="1.0"?>
<configuration scan="true">

    <include resource="org/springframework/boot/logging/logback/defaults.xml" />

    <property name="CUSTOM_MDC_LOG_PATTERN" value="%clr(%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss.SSS}}){faint} [ %mdc ] %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">

        <encoder>
            <!-- <pattern>${CONSOLE_LOG_PATTERN}</pattern> -->
            <pattern>${CUSTOM_MDC_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/application.log</file>
        <encoder>
            <pattern>${CUSTOM_MDC_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <root>
        <level value="INFO" />
        <appender-ref ref="STDOUT" />
    </root>

    <logger name="com.example" level="INFO">
        <appender-ref ref="STDOUT" />
    </logger>
</configuration>