<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    </head>
<body>
<div>
    Welcome <span th:text = "${name}"></span> <a href="https://www.google.com/accounts/Logout?continue=https://appengine.google.com/_ah/logout?continue=http://localhost:8080/logout">Logout</a>
    <br>
    Email: <span th:text = "${email}"></span>
    <br>
</div>
<div>
<!--    <div>-->
<!--&lt;!&ndash;        <a th:href = "@{/view}"> View All Projects</a>&ndash;&gt;-->
<!--        -->
<!--    </div>-->
    <tbody>
        <br>
        <br>
        <h3>Tasks: </h3>
        <tr th:each="task: ${tasks}">
            Name:
            <td th:text="${task.name}"/>
            <br>
            Description:
            <td th:text="${task.description}"/>
            <br>
            <h4> Due Date: </h4>
            <td th:text="${task.dueDate}"/>
            <h4> Due Time: </h4>
            <td th:text="${task.dueTime}"/>
        </tr>
    </tbody>
    <tbody>
    <br>
    <br>
    <h3>Task Progress: </h3>
    <tr th:each="taskProg: ${taskProgress}">
        Status:
        <td th:text="${taskProg.progressStatus}"/>
        <br>
        Comment:
        <td th:text="${taskProg.taskComment}"/>
        <br>
        <br>
    </tr>
    </tbody>
    <br>

    <form action="#" th:action="@{/progress}" th:object="${newProgress}" method="post">
        <table border="1">
            <tr>
                <td>Progress Status:</td>
                <td><input type="text" th:field="*{progressStatus}" /></td>
            </tr>
            <tr>
                <td>Comment:</td>
                <td><input type="text" th:field="*{taskComment}" /></td>
            </tr>
            <tr>
                <td>Project ID:</td>
                <td><input type="number" th:field="*{projectsId}" /></td>
            </tr>
            <tr>
                <td><input type="submit" value="Submit" /></td>
            </tr>
        </table>
    </form>

    <br>
    <br>
    <tbody>
    <br>
    <br>
    <h3>Projects: </h3>
    <tr th:each="project: ${projects}">
        Name:
        <td th:text="${project.name}"/>
        <br>
        Project Manager:
        <td th:text="${project.projectManager}"/>
        <br>
        ID:
        <td th:text="${project.id}"/>
        <h4> Description: </h4>
        <td th:text="${project.projectDescription}"/>
        <h4> Deadline: </h4>
        <td th:text="${project.deadline}"/>

    </tr>
    </tbody>
    <tbody>
    <br>
    <br>
    <h3>Meetings: </h3>
    <tr th:each="meeting: ${meetings}">
        <td th:switch="${meeting.meetingType}">
            <span th:case="'4'" th:text="'Daily Standup'"/>
            <span th:case="'5'" th:text="'Sprint Review'"/>
            <span th:case="'6'" th:text="'Daily Standup'"/>
        </td>
    </tr>
    <br>
    </tbody>
</div>
</body>
</head>
</html>