<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    </head>
<body>
<div>
    Welcome <span th:text = "${name}"></span> <a href="https://www.google.com/accounts/Logout?continue=https://appengine.google.com/_ah/logout?continue=http://localhost:8080/logout">Logout</a>
    <br>
    Email: <span th:text = "${email}"></span>
    <br>
</div>
<div>
<!--    <div>-->
<!--&lt;!&ndash;        <a th:href = "@{/view}"> View All Projects</a>&ndash;&gt;-->
<!--        -->
<!--    </div>-->
    <tbody>
        <br>
        <br>
        <h3>Tasks: </h3>
        <tr th:each="task: ${tasks}">
            Name:
            <td th:text="${task.name}"/>
            <br>
            Description:
            <td th:text="${task.description}"/>
            <br>
            <h4> Due Date: </h4>
            <td th:text="${task.dueDate}"/>
            <h4> Due Time: </h4>
            <td th:text="${task.dueTime}"/>
        </tr>
    </tbody>
</div>
</body>
</head>
</html>