<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    </head>
<body>
<div>
    Welcome <span th:text = "${name}"></span>

    <div>
        <a href="https://www.google.com/accounts/Logout?continue=https://appengine.google.com/_ah/logout?continue=http://localhost:8080/logout">Logout</a>
    </div>
</div>
<div>
    <div>
        <a th:href = "@{/view}"> View All Projects</a>
    </div>
</div>
</body>
</head>
</html>